<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        &copy; 2020 TechSummit is not a real thing. if it is, this site was not meant to be a mockery of it.
      </div>
      <div class="col-md-2">
        <h6>Our product</h6>
        <ul class="list-unstyled">
          <li><a href="/vision">Vision</a></li>
           <li><a href="">Solutions</a></li>
            <li><a href="">Plans</a></li>
             <li><a href="/vision">Mission</a></li>
        </ul>
      </div>
      <div class="col-md-2">
          <h6>Other team</h6>
          <ul class="list-unstyled">
          <li><a href="/about">About</a></li>
           <li><a href="/organizers">Organizers</a></li>
            <li><a href="/speakers">Speakers</a></li>
             <li><a href="">Partners</a></li>
        </ul>
      </div>
      <div class="col-md-2">
            <h6>Other things</h6>
          <ul class="list-unstyled">
          <li><a href="">Jobs</a></li>
           <li><a href="">Contact</a></li>
            <li><a href="">Plans</a></li>
             <li><a href="/register">Sign in</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
  </body>
</html>