<%- include("partials/header") %>
<div class="container">
	<div id="theme">
	<h1 class="display-3">
		<span id="year">2020</span> Theme: Origins
	</h1>
	</div>
    <div class="row">
		<div class="col-12 col-md-7 m-1">
          <p id="para">
	   For the second consecutive year, Teknologize, Managed Squared, and the Tri-Cities Research District are teaming up to host the Tri-Cities Tech Summit!  After an inaugural summit last year with over 125 attendees and talks from tech-minded leaders in our community, we are excited to announce the theme for the 2019 Summit: Origins.

Every technology, company, and entrepreneur has a unique start. The Tri-Cities Tech Summit 2019: Origins will highlight those stories, allowing individuals to share their own Origins as they educate and inspire others to learn, do and invest in themselves, their ideas, and their businesses.

Our theme also coincides with the 75th anniversary of the Manhattan Project, a massive undertaking that helped a tiny community become globally recognized. Part of TC Tech Summit 2019: Origins will highlight the technology that came about because of the Manhattan Project and its greater impact on the Tri-Cities.
			  Our theme also coincides with the 75th anniversary of the Manhattan Project, a massive undertaking that helped a tiny community.
	</p>
     </div>
		<div class="col-12 col-md-5 m-1">
           <img id="img" src="https://media-exp1.licdn.com/dms/image/C4D0BAQFb39Kpx6ZdXw/company-logo_200_200/0?e=2159024400&v=beta&t=uDzvCGe-n0TMKHT2BrXLa-FAPaM07hWHBCqlUIaXMEE" class="img-fluid" alt="Responsive image">
         </div>
   </div>
	<hr>
	  <div id="about">
	<h1 class="display-3">
		<span id="year">About</span> Tech Summit
	</h1>
	</div>
	<div id="text">
		<p id="para">
	  The Tri-Cities Summit is a conference for technology professionals and innovators to come together and find out more about what’s happening in the Tri-Cities across technology fields. In an interactive and engaging atmosphere, participants will be able to learn, exchange ideas, network and establish relationships with others in the community.
	</p>
	</div>
	<hr>
</div>
<%- include("partials/footer") %>