<%- include("partials/header") %>

   
<div id="stage">
  <div id="stage-caption">
	  <h1 class="dispaly-3">Tech Summit Conference 2020<hr></h1>
	  <p>
		  Join us for the 2nd Annual Tech Summit!
	  </p>
    <a href="/about" class="btn btn-lg btn-primary">About Summit</a>
  </div>
  </div>
   