<%- include("partials/header") %>

	<div id="organizer">
	<h1 class="display-3">
	    Organizers
	</h1>
	</div>
  <div id="org">
  <div id="org-caption" class="row">
	  <div class="col-12 col-md-5 m-1">
           <img id="img1" src="https://tctechsummit.com/wp-content/uploads/2018/06/bmartin-profile.png" class="img-fluid" alt="Responsive image">
         </div>
	  <div class="col-12 col-md-7 m-1">
           <p>
<strong> Byron is CEO and owner of Teknologize,</strong> an information technology consulting firm and IT service provider, which he founded in 2011.  Over the last seven years, Byron has helped Teknologize become a technology leader in the Tri-Cities market with a reputation of excellent client care and advanced technical expertise. 
Byron graduated from BYU with a degree in Spanish and has been working in the Information Technology field for the past 19 years. When he’s not garnering more technical certifications and building Teknologize, he’s spending time with his wife and five kids in the great outdoors hiking, boating, fishing and enjoying all the Tri-Cities has to offer.
	</p>
     </div>
	  </div>
	  <div id="org-caption" class="row">
	  <div class="col-12 col-md-5 m-1">
           <img id="img1" src="https://tctechsummit.com/wp-content/uploads/2018/06/ty-profile.png" class="img-fluid" alt="Responsive image">
         </div>
	 <div class="col-12 col-md-7 m-1">
           <p>
	<strong>Ty Mulholland is the Head of Operations of Managed Squared,</strong> and has rough large scale projects. Ty has developed projects for large companies such as Microsoft, Hyundai, and Lamb Weston as well as small and locally owned startups. He is passionate about technology that enhances people’s lives. Ty is an avid supporter of the community. He is a board member for Fuse Co-Working, has been a Tri-Conf organizer, Startup Weekend Organizer, WSU guest lecturer, Launch University Keynote and founded several meet ups in the community. He lives in Richland with his wife and three daughters.
	</p>
     </div>
	</div>
</div>
  

  

