<%- include("partials/header") %>
		
		<div class="contain" id="img2">
    <div class="row" id="img2">
        <h1 style="text-align: center;color: white;">Register</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/home">
                <div class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Enroll Now!</button>
                </div>
            </form>
            <a href="/home">Go Back to HomePage</a>
        </div>
    </div>
</div>
