<%- include("partials/header") %>
  <div id="organizer">
	<h1 class="display-3">
	    Speakers
	</h1>
	</div>
  <div id="org">
  <div id="org-caption" class="row">
	  <div class="col-12 col-md-5 m-1">
           <img id="img1" src="https://tctechsummit.com/wp-content/uploads/2019/08/paul-profile.png" class="img-fluid" alt="Responsive image">
         </div>
	  <div class="col-12 col-md-7 m-1">
           <p>
<strong> Paul Jarrett: Co-founder and CEO of Bulu Box,</strong> is a Subscription Box champion and Midwest entrepreneur. He launched million-dollar brands like Neebo and executed campaigns for Lowe’s and Nike. In 2010, he joined Complete Nutrition, one of the fastest growing startups in the country. In 2012, Paul and his co-founder Stephanie Jarrett launched Bulu Box. Several years later, Bulu Box has evolved to be the industry authority in creating Private Label Subscription Box solutions for multibillion-dollar brands like Disney, Crayola, and Buzzfeed.
While Paul’s story is impressive, what’s even more compelling is that he left Silicon Valley, the mecca for internet start-ups, to launch his company in Lincoln, Nebraska.
	</p>
     </div>
	  </div>
	  <div id="org-caption" class="row">
	  <div class="col-12 col-md-5 m-1">
           <img id="img1" src="https://tctechsummit.com/wp-content/uploads/2018/06/diahann-profile.png" class="img-fluid" alt="Responsive image">
         </div>
	 <div class="col-12 col-md-7 m-1">
           <p>
	<strong>Diahann Howard is the Executive Director for the Tri-Cities Research District,</strong> one of 14 Washington State Innovation Partnership Zones. The Research District is an "innovation ecosystem" enabling research and technology companies to develop, commercialize and market products worldwide. Diahann also serves as the Director of Economic Development & Governmental Affairs for the Port of Benton, where she has worked since 2006. She supports the Port of Benton’s land and building development, grants and legislative requests both state and federal. Prior to the Port, she was the City of Richland’s Economic Development Manager.
     </div>
	</div>
</div>
  